attrdict
Cython==0.29.32
gmpy2==2.1.2
h5py==3.7.0
imagecorruptions==1.1.2
imageio
ipython==8.5.0
keras==2.10.0
matplotlib==3.4.0
mock==4.0.3
numba==0.56.2
numpy>=1.22
pandas
Pillow
pybullet
pyrealsense2
scipy==1.7.3
Shapely==1.8.4
six==1.14.0
skimage==0.0
tensorboardX==2.5.1
tensorflow==2.10.0
torch
torchsummary==1.5.1
